@if (film(); as selectedFilm) {

  <button class="back" routerLink="/">
    ← Back
  </button>

  <div class="detail">

    <img [src]="selectedFilm.posterUrl" [alt]="selectedFilm.title" />

    <div class="info">
      <h1>{{ selectedFilm.title }}</h1>

      <p class="meta">
        {{ selectedFilm.year }} | {{ selectedFilm.genre }}
      </p>

      <p class="rating">
        ⭐ {{ selectedFilm.rating }}
      </p>

      <p class="duration">
        ⏱ {{ selectedFilm.duration | duration }}
      </p>

      <p class="desc">
        {{ selectedFilm.description }}
      </p>
    </div>

  </div>

}
@if (film(); as selectedFilm) {

} @else {
  <p>Film not found</p>
}